*{
    margin: 0;
    padding: 0;
}
:root{
    --color1: #1B7D78;
    --color2: #ffff;
    --color3: #104A47;
}
body{
    background-color: var(--color1);
    font-size: 18px;
}

.container{
    background-color: var(--color2);
    margin: auto;
    width: 25em;
    height: 40em;
    margin-top: 5em;
    border-radius: 0.5em;
    padding: 5em;
    display:flex;
    flex-direction: column;
}

.titu{
    font-family:'Roboto', sans-serif;
    font-size: 1.5em;
}
.intro{
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1em;
}
.titulo{
    font-size: 1em;
    padding-top: 2em;
    font-family: 'Open Sans', sans-serif;
}
.input{
    font-size: 1em;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.mensaje{
    font-size: 1em;
    width: 100%;
    height: 10em;
    padding: 1em;
    margin-top: 1em;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    resize: none;
}
.boton{
    text-decoration: none;
    background-color: var(--color3);
    color: var(--color2);
    width: 10em;
    padding: 1.2em;
    box-sizing: border-box;
    margin-top: 2em;
    border-radius: 0.3em;
    font-family: 'Open Sans', sans-serif;
    display: flex;
}
.arrow{
    width: 1.7em;
    margin-left: 1.2em;
}      


/********************************************************
#                              responsive            #
********************************************************/
@media only screen and (max-width: 1440px) { 
    body{
        background-color: var(--color1);
        font-size: 10px;
    }

    .container{
        margin-top: 6em;
    }
}


